/****************************************************/
/*  Universal Styles                                */
/****************************************************/

* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

/****************************************************/
/*  Main Styles                                     */
/****************************************************/

h1,
h3,
header p,
footer p {
  text-align: center;
}

h1,
header p {
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  background-color: #2d3945;
  color: white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 1em;
  width: 98%;
}

p {
  font-weight: 300;
  font-size: .8em;
  color: grey;
}

h2 > p {
  color: black;
}

header p {
  width: 85%;
}

header {
  margin-bottom: 2em;
}

hr {
  border: none;
  height: 4px;
  color: black;
  background-color: #2d3945;
}

hr ~ hr {
  height: 2px;
  margin-top: -3px;
}

label,
input,
select {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

input,
select,
option {
  padding: 15px 20px;
  border: none;
  background-color: #eff0f1;
  border-radius: 5px;
}

select {
  font-weight: 300;
  font-size: .9em;
}

input:placeholder-shown {
  text-align: right;
  font-size: .8em;
  font-weight: 300;
  font-style: italic;
}

select {
  font-weight: 300;
  color: grey;
}

input:focus,
select:focus {
  border: 2px solid #46698b;
}

label {
  color: #7a8896;
}

.newsletter {
  border-top: 2px solid black;
}

button {
  width: 100%;
  color: white;
  background: #4ebbb5;
  border: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer p {
  font-style: italic;
  color: grey;
}
/****************************************************/
/*  helper classes                                  */
/****************************************************/

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.br {
  border-radius: 5px;
}
