/****************************************************/
/*  Universal Styles                                */
/****************************************************/

* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

/****************************************************/
/*  Header Styles                                     */
/****************************************************/

h1,
h3,
header p,
footer p {
  text-align: center;
}

h1,
header p {
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  color: white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 1em;
  width: 100%;
  background-color: #2d3945;
}

p {
  font-weight: 300;
  font-size: .9em;
  color: grey;
}

h2 > p {
  color: black;
}

header {
  margin-bottom: 35px;
}

header {
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
  width: 100%;

}

header {
  display: block;
}

/****************************************************/
/*  Form Styles                                     */
/****************************************************/

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

legend {
  font-size: 1.2em;
  font-weight: 600;
  padding-top: 1em;
  padding-bottom: 1em;
}

/****************************************************/
/*  contact information styles                      */
/****************************************************/

.contact-information label,
.contact-information input,
.contact-information select,
textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-information {
  margin-bottom: 20px;
}

input,
select,
option,
textarea {
  padding: 15px 20px;
  background-color: #eff0f1;
  outline: none;
  border: none;
  box-shadow: none;
  border-color: #eeeeee;
  -webkit-transition-property: border, padding, box-shadow;
  -webkit-transition-duration: .5s;
  -webkit-transition-timing-finction: ease-in;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid #46698b;
  padding: 15px 20px;
  box-shadow: 0 0 5px rgba(70, 105, 139, 1);
}

input::-webkit-input-placeholder {
  text-align: right;
  text-transform: capitalize;
  font-style: italic;
  font-size: .9em;
}

input::-moz-placeholder {
  text-align: right;
  text-transform: capitalize;
  font-style: italic;
  font-size: .9em;
}

input::-ms-input-placeholder {
  text-align: right;
  text-transform: capitalize;
  font-style: italic;
  font-size: .9em;
}

input::-moz-placeholder {
  text-align: right;
  text-transform: capitalize;
  font-style: italic;
  font-size: .9em;
}

select {
  position: relative;
  overflow: hidden;
  -webkit-appearance: none;
  background-image: url("../img/chevron-down.png");
  background-repeat: no-repeat;
  background-color: #eff0f1;
  background-size: 20px 20px;
  background-position: 95% 50%;
  color: grey;
}

label {
  color: #7a8896;
  font-size: .9em;
  font-weight: 100;
}

#zip {
  width: 33%;
}

/****************************************************/
/*  newsletter styles                               */
/****************************************************/

.newsletter p {
  font-size: .9em;
  line-height: 1.5;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label span,
input[type="radio"] + label span {
  display: inline-block;
  background: #eff0f1;
  width: 19px;
  height: 19px;
  margin: -1px 10px 10px 0;
  cursor: pointer;
  vertical-align: text-top;
  border-radius: 5px;
}

input[type="radio"] + label span {
  border-radius: 50%;
}

input[type="checkbox"]:checked + label span,
input[type="radio"]:checked + label span {
  border: 2px solid black;
}

input[type="checkbox"]:checked + label span {
  background: url("../img/checkmark.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="radio"]:checked + label span {
  background: url("../img/bullet.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
}

div.stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

input.fa-star {
  display: none;
}

label.fa-star {
  padding: .4em;
  font-size: 2em;
  color: #eff0f1;
  transition: all .2s;
}

input.fa-star:checked ~ label.fa-star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.fa-star-5:checked ~ label.fa-star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

button {
  width: 100%;
  color: white;
  background: #4ebbb5;
  border: none;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.25em;
  margin-bottom: 1em;
}

/****************************************************/
/*  footer styles                                   */
/****************************************************/

footer p {
  font-style: italic;
  color: #aaafb4;
  margin-top: 1em;
  margin-bottom: 12em;
  font-size: 1em;
  font-weight: 100;
}

/****************************************************/
/*  helper classes                                  */
/****************************************************/

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}

.one {
  border: none;
  height: 5px;
  color: black;
  background-color: #2d3945;
}

.two {
  border: none;
  height: 2px;
  color: black;
  background-color: #2d3945;
  margin-top: -4px;
}

/****************************************************/
/*  media queries                                   */
/****************************************************/

@media (min-width: 900px) {

  h3 {
    margin-top: 60px;
  }

  .contact-information label {
    width: 150px;
    display: inline-block;
  }

  .contact-information input,
  .contact-information select {
    width: 745px;
    display: inline-block;
  }
}
